{% extends "index.html" %}
{% block content %}
<body>

    <div id="wrap">
    
    <script>
        function displayRadio(){
        {% for key, value in columns_nulldata.items() %}
            
            
            if('{{value[1]}}' == 'object'){
                document.write('<option value="{{ key }}">' + '{{ key }}:{{ value[0] }}' + '</option>' +
                    '最頻値' +
                    '<input type="radio" id="r1" name={{ key }} value="mode">' +
                    '中央値' +
                    '<input type="radio" id="r1" name={{ key }} value="med">' +
                    '削除' +
                    '<input type="radio" id="r1" name={{ key }} value="drop">');
             }else{
                document.write('<option value="{{ key }}">' + '{{ key }}:{{ value[0] }}' + '</option>' +
                    '平均値' +
                    '<input type="radio" id="r1" name={{ key }} value="ave">' +
                    '最頻値' +
                    '<input type="radio" id="r1" name={{ key }} value="mode">' +
                    '中央値' +
                    '<input type="radio" id="r1" name={{ key }} value="med">' +
                    '標準偏差' +
                    '<input type="radio" id="r1" name={{ key }} value="standard">' +
                    '削除' +
                    '<input type="radio" id="r1" name={{ key }} value="drop">');
             }
            
            {% endfor %}
        }
    </script>
    
    </div>

    <form action="/null_conv" method="POST" enctype="multipart/form-data">
        <table = border="1">

        <option value="target">目的変数</option>
        <tr>
        {% for name in columns_name %}
                    <td>{{name}}
                    <input type="radio" id="r1" name="target" value={{name}}></td>
                    
        {% endfor %}
        </tr>
        <!-- <p>欠損値の置き換え方法を選んでください</p> -->
        <script>displayRadio();</script>

        <option value="drop">削除する変数</option>
        <tr>
        {% for name in columns_name %}
                    {% set value = name + '_drop' %}
                    <td>{{name}}
                    <input type="checkbox" id="r1" name={{value}} value="drop"></td>
                    
        {% endfor %}
        </tr>
        <br>
        <select name="model" id = "model" onchange="radioSelect(this);">
            <option value="">モデルを選択してください</option>
            <option value="RandomForestClassifier" name = "model">RandomForestClassifier</option>
            <option value="RandomForestRegressor" name = "model">RandomForestRegressor</option>
            <!-- <option value="選択肢3" name = "name">選択肢3</option> -->
        </select>
        <label>モデルパラメータ設定
            <div id = "parameters_area">
            </div>
        </label>
    <input type="submit" value="送信">
        </table>
    </form>

    <script>
        const parameters_area = document.getElementById('parameters_area');

        // name をモデルで共通にする！
        // 欠点はモデルのパラメータ名を受け取れなくなるので順番ごとにパラメータを代入する
        // name は1.2.3とかでやればモデルごとにパラメータの表示数を変えられる
        // post先でモデルの種類に応じてfor文でrequestをとれる
        //n_estimators
        var n_estimators_label = document.createTextNode("n_estimators");
        var n_estimators = document.createElement("input");
        n_estimators.setAttribute("name","1");
        n_estimators.setAttribute("type","number");
        n_estimators.setAttribute("value","100");
        n_estimators.setAttribute("max","1000");
        n_estimators.setAttribute("min","10");
        //criterion
        var criterion_label = document.createTextNode("criterion");
        var criterion = document.createElement('select');
        var gini = document.createElement("option");
        var entropy = document.createElement("option");
        gini.setAttribute("value","gini");
        gini.appendChild(document.createTextNode("gini"));
        entropy.setAttribute("value","entropy");
        entropy.appendChild(document.createTextNode("entropy"));
        criterion.setAttribute("name","2");
        criterion.setAttribute("id","testId");
        criterion.appendChild(gini);
        criterion.appendChild(entropy);
        //max_depth
        var max_depth = document.createElement("input");
        max_depth.setAttribute("value","");
        max_depth.setAttribute("onchange","max_depth_func();");
        var max_depth_int = document.createElement("input");
        max_depth_int.setAttribute("type","number");
        max_depth_int.setAttribute("value","100");
        max_depth_int.setAttribute("max","1000");
        max_depth_int.setAttribute("min","10");


        var input2 = document.createElement('input');
        input2.setAttribute("id","input2");
        input2.setAttribute("type","checkbox");
        input2.setAttribute("value","input2");
        var label2= document.createTextNode("追加項目2");
        
        function radioSelect(model){
            
            for(let i = parameters_area.childNodes.length -1;i >= 0;i--){
                parameters_area.removeChild(parameters_area.childNodes[i]);
            }
            if(model.value == "RandomForestClassifier"){
                parameters_area.appendChild(n_estimators_label);
                parameters_area.appendChild(n_estimators);
                parameters_area.appendChild(criterion_label);
                parameters_area.appendChild(criterion);
            }else if(model.value == "RandomForestRegressor"){
                parameters_area.appendChild(label2);
                parameters_area.appendChild(input2);
            }
            
        }
        function max_depth_func(){

        }
        
    </script>

    

</body>
{% endblock %}