{% extends "index.html" %}
{% block content %}
<body>

    <div id="wrap">
    
    <script>
        function displayRadio(){
        {% for key, value in columns_nulldata.items() %}
            
            
            if('{{value[1]}}' == 'object'){
                document.write('<option value="{{ key }}">' + '{{ key }}:{{ value[0] }}' + '</option>' +
                    '最頻値' +
                    '<input type="radio" id="r1" name={{ key }} value="mode">' +
                    '中央値' +
                    '<input type="radio" id="r1" name={{ key }} value="med">' +
                    '削除' +
                    '<input type="radio" id="r1" name={{ key }} value="drop">');
             }else{
                document.write('<option value="{{ key }}">' + '{{ key }}:{{ value[0] }}' + '</option>' +
                    '平均値' +
                    '<input type="radio" id="r1" name={{ key }} value="ave">' +
                    '最頻値' +
                    '<input type="radio" id="r1" name={{ key }} value="mode">' +
                    '中央値' +
                    '<input type="radio" id="r1" name={{ key }} value="med">' +
                    '標準偏差' +
                    '<input type="radio" id="r1" name={{ key }} value="standard">' +
                    '削除' +
                    '<input type="radio" id="r1" name={{ key }} value="drop">');
             }
            
            {% endfor %}
        }
    </script>
    
    </div>

    <form action="/null_conv" method="POST" enctype="multipart/form-data">
        <option value="target">目的変数</option>
        {% for name in columns_name %}
                    {{name}}
                    <input type="radio" id="r1" name="target" value={{name}}>
                    
        {% endfor %}
        <!-- <p>欠損値の置き換え方法を選んでください</p> -->
        <script>displayRadio();</script>

        <option value="drop">削除する変数</option>
        {% for name in columns_name %}
                    {% set value = name + '_drop' %}
                    {{name}}
                    <input type="radio" id="r1" name={{value}} value="drop">
                    
        {% endfor %}
        <br>
        <select name="model">
            <option value="RandomForestClassifier" name = "model">RandomForestClassifier</option>
            <option value="RandomForestRegressor" name = "model">RandomForestRegressor</option>
            <!-- <option value="選択肢3" name = "name">選択肢3</option> -->
        </select>
    <input type="submit" value="送信">
    </form>
    

    <!-- <select name="type">
        {% for type in columns_type %}
            <option value="{{ type }}">{{ type }}</option>
        {% endfor %}
    </select> -->

    

</body>
{% endblock %}