{% extends "index.html" %}
{% block content %}
<body>

    <div id="wrap">

        <!-- エラーメッセージ    -->
        <p style="color: red;">{{ detail_error }}</p>
    
    <script>
        function displayRadio(){
        {% for key, value in columns_nulldata.items() %}
            
            if('{{value[1]}}' == 'object'){
                document.write('<tr>' + 
                    '<td>' + '<option value="{{ key }}">' + '{{ key }}:{{ value[0] }}' + '</option>' + '</td>' +
                    '<td>' + '最頻値' + '<input type="radio" id="r1" name={{ key }} value="mode">' + '</td>' +
                    '<td>' + '中央値' + '<input type="radio" id="r1" name={{ key }} value="med">' + '</td>' +
                    '<td>' + '削除' + '<input type="radio" id="r1" name={{ key }} value="drop">' + '</td>' + 
                    '</tr>');
             }else{
                document.write('<tr>' + 
                    '<td>' + '<option value="{{ key }}">' + '{{ key }}:{{ value[0] }}' + '</option>' + '</td>' +
                    '<td>' + '平均値' + '<input type="radio" id="r1" name={{ key }} value="ave">' + '</td>' +
                    '<td>' + '最頻値' + '<input type="radio" id="r1" name={{ key }} value="mode">' + '</td>' +
                    '<td>' + '中央値' + '<input type="radio" id="r1" name={{ key }} value="med">' + '</td>' +
                    '<td>' + '標準偏差' + '<input type="radio" id="r1" name={{ key }} value="standard">' + '</td>' +
                    '<td>' + '削除' + '<input type="radio" id="r1" name={{ key }} value="drop">' + '</td>' +
                    '</tr>');
             }

             
            
            {% endfor %}
        }
    </script>
    
    </div>

    <form action="/result_page" method="POST" enctype="multipart/form-data">
        <table = border="1">

        <tr><td><option value="target">目的変数</option></td></tr>
        <tr>
        {% for name in columns_name %}
                    <td>{{name}}
                    <input type="radio" id="r1" name="target" value={{name}}></td>
                    
        {% endfor %}
        </tr>
        <!-- <p>欠損値の置き換え方法を選んでください</p> -->
        <script>displayRadio();</script>

        <tr><td><option value="drop">削除する変数</option></td></tr>
        <tr>
        {% for name in columns_name %}
                    {% set value = name + '_drop' %}
                    <td>{{name}}
                    <input type="checkbox" id="r1" name={{value}} value="drop"></td>
                    
        {% endfor %}
        </tr>
        <br>
        <select name="model" id = "model" onchange="radioSelect(this);">
            <option value="">モデルを選択してください</option>
            <option value="RandomForestClassifier" name = "model">RandomForestClassifier</option>
            <option value="RandomForestRegressor" name = "model">RandomForestRegressor</option>
            <option value="XGBoost" name = "model">XGBoost</option>
            <!-- <option value="選択肢3" name = "name">選択肢3</option> -->
        </select>
        <label>モデルパラメータ設定
            <tr class = "parameters_area" >

            </tr>
        </label>
    <input type="submit" value="送信">
        </table>
    </form>


    <script>


        const parameters_area = document.getElementsByClassName("parameters_area")[0];
        //const parameters_area = document.getElementById('parameters_area');

        // name をモデルで共通にする！
        // 欠点はモデルのパラメータ名を受け取れなくなるので順番ごとにパラメータを代入する
        // name は1.2.3とかでやればモデルごとにパラメータの表示数を変えられる
        // post先でモデルの種類に応じてfor文でrequestをとれる

        //-------------------------------------------------------
        //https://ichi.pro/randamufuxoresutohaipa-parame-tachu-ningu-no-bigina-zugaido-77596161963319
        //https://qiita.com/FujiedaTaro/items/61ded4ea5643a6204317
        //https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestClassifier.html
        //RandomForestClassifier
        //n_estimators
        var td1_n_estimators = document.createElement("td");
        var n_estimators_label = document.createTextNode("n_estimators");
        var n_estimators = document.createElement("input");
        n_estimators.setAttribute("name","1");
        n_estimators.setAttribute("type","number");
        n_estimators.setAttribute("value","100");
        n_estimators.setAttribute("max","1000");
        n_estimators.setAttribute("min","10");
        td1_n_estimators.appendChild(n_estimators_label);
        td1_n_estimators.appendChild(n_estimators);

        //criterion
        var td2_criterion_classifier = document.createElement("td");
        var criterion_label = document.createTextNode("criterion");
        var criterion = document.createElement('select');
        var gini = document.createElement("option");
        var entropy = document.createElement("option");
        gini.setAttribute("value","gini");
        gini.appendChild(document.createTextNode("gini"));
        entropy.setAttribute("value","entropy");
        entropy.appendChild(document.createTextNode("entropy"));
        criterion.setAttribute("name","2");
        criterion.appendChild(gini);
        criterion.appendChild(entropy);
        td2_criterion_classifier.appendChild(criterion_label);
        td2_criterion_classifier.appendChild(criterion);

        //max_depth
        var td3_max_depth = document.createElement("td");
        var max_depth_label = document.createTextNode("max_depth");
        var max_depth = document.createElement("input");
        max_depth.setAttribute("type","checkbox");
        //max_depth.setAttribute("name","3");
        max_depth.setAttribute("value","");
        max_depth.setAttribute("onchange","maxDepthFunc();"); //maxDepthFunc()で選択したときにmax_depth_intを表示
        var max_depth_int = document.createElement("input");
        max_depth_int.setAttribute("type","number");
        max_depth_int.setAttribute("name","3");
        max_depth_int.setAttribute("value","100");
        max_depth_int.setAttribute("max","1000");
        max_depth_int.setAttribute("min","1");
        td3_max_depth.appendChild(max_depth_label);
        td3_max_depth.appendChild(max_depth);

        //min_samples_split
        var td4_min_samples_split = document.createElement("td");
        var min_samples_split_label = document.createTextNode("min_samples_split");
        var min_samples_split = document.createElement("input");
        min_samples_split.setAttribute("type","number");
        min_samples_split.setAttribute("name","4");
        min_samples_split.setAttribute("value","10");
        min_samples_split.setAttribute("max","2000");
        min_samples_split.setAttribute("min","10");
        td4_min_samples_split.appendChild(min_samples_split_label);
        td4_min_samples_split.appendChild(min_samples_split);

        //max_leaf_nodes
        var td5_max_leaf_nodes = document.createElement("td");
        var max_leaf_nodes_label = document.createTextNode("max_leaf_nodes");
        var max_leaf_nodes = document.createElement("input");
        max_leaf_nodes.setAttribute("type","checkbox");
        //max_leaf_nodes.setAttribute("name","5");
        max_leaf_nodes.setAttribute("value","");
        max_leaf_nodes.setAttribute("onchange","maxLeafNodesFunc();");
        var max_leaf_nodes_int = document.createElement("input");
        max_leaf_nodes_int.setAttribute("type","number");
        max_leaf_nodes_int.setAttribute("name","5");
        max_leaf_nodes_int.setAttribute("value","15");
        max_leaf_nodes_int.setAttribute("max","200");
        max_leaf_nodes_int.setAttribute("min","0");
        td5_max_leaf_nodes.appendChild(max_leaf_nodes_label);
        td5_max_leaf_nodes.appendChild(max_leaf_nodes);


        //-----------------------------------------------------------------
        //RandomForestRegressor
        //n_estimators td1_n_estimators

        //criterion
        var td2_criterion_regressor = document.createElement("td");
        var criterion_label = document.createTextNode("criterion");
        var criterion = document.createElement('select');
        var mse = document.createElement("option");
        var mae = document.createElement("option");
        mse.setAttribute("value","mse");
        mse.appendChild(document.createTextNode("mse"));
        mae.setAttribute("value","mae");
        mae.appendChild(document.createTextNode("mae"));
        criterion.setAttribute("name","2");
        criterion.appendChild(mse);
        criterion.appendChild(mae);
        td2_criterion_regressor.appendChild(criterion_label);
        td2_criterion_regressor.appendChild(criterion);

        //max_depth td3_max_depth

        //min_samples_split td4_min_samples_split

        //max_leaf_nodes td5_max_leaf_nodes

        
        function radioSelect(model){
            
            for(let i = parameters_area.childNodes.length -1;i >= 0;i--){
                parameters_area.removeChild(parameters_area.childNodes[i]);
            }
            if(model.value == "RandomForestClassifier"){
                parameters_area.appendChild(td1_n_estimators);
                parameters_area.appendChild(td2_criterion_classifier);
                parameters_area.appendChild(td3_max_depth);
                parameters_area.appendChild(td4_min_samples_split);
                parameters_area.appendChild(td5_max_leaf_nodes);
            }else if(model.value == "RandomForestRegressor"){
                parameters_area.appendChild(td1_n_estimators);
                parameters_area.appendChild(td2_criterion_regressor);
                parameters_area.appendChild(td3_max_depth);
                parameters_area.appendChild(td4_min_samples_split);
                parameters_area.appendChild(td5_max_leaf_nodes);
            }
            
        }

        //とりあえず試作ではbool
        var max_depth_flag = new Boolean(true);
        function maxDepthFunc(){
            if(max_depth_flag){
                td3_max_depth.appendChild(max_depth_int);
                max_depth_flag = false;
            }else{
                td3_max_depth.removeChild(td3_max_depth.childNodes[2]);
                max_depth_flag = true;
            }
        }
        var max_leaf_nodes_flag = new Boolean(true);
        function maxLeafNodesFunc(){
            if(max_leaf_nodes_flag){
                td5_max_leaf_nodes.appendChild(max_leaf_nodes_int);
                max_leaf_nodes_flag = false;
            }else{
                td5_max_leaf_nodes.removeChild(td5_max_leaf_nodes.childNodes[2]);
                max_leaf_nodes_flag = true;
            }
        }
        
    </script>

    

</body>
{% endblock %}