{% extends "index.html" %}
{% block content %}


<body>

    <div id="wrap">

        <!-- エラーメッセージ    -->
        <p style="color: red;">{{ detail_error }}</p>

    <script>
    
    
        function displayRadio(){
        {% for key, value in columns_nulldata.items() %}
            
            if('{{value[1]}}' == 'object'){
                document.write('<tr>' + 
                    '<td>' + '<option value="{{ key }}">' + '{{ key }}:{{ value[0] }}' + '</option>' + '</td>' +
                    '<td>' + '最頻値' + '<input type="radio" id="r1" name={{ key }} value="mode">' + '</td>' +
                    '<td>' + '中央値' + '<input type="radio" id="r1" name={{ key }} value="med">' + '</td>' +
                    '<td>' + '削除' + '<input type="radio" id="r1" name={{ key }} value="drop">' + '</td>' +
                    '</tr>');
             }else{
                document.write('<tr>' + 
                    '<td>' + '<option value="{{ key }}">' + '{{ key }}:{{ value[0] }}' + '</option>' + '</td>' +
                    '<td>' + '平均値' + '<input type="radio" id="r1" name={{ key }} value="ave">' + '</td>' +
                    '<td>' + '最頻値' + '<input type="radio" id="r1" name={{ key }} value="mode">' + '</td>' +
                    '<td>' + '中央値' + '<input type="radio" id="r1" name={{ key }} value="med">' + '</td>' +
                    '<td>' + '標準偏差' + '<input type="radio" id="r1" name={{ key }} value="standard">' + '</td>' +
                    '<td>' + '削除' + '<input type="radio" id="r1" name={{ key }} value="drop">' + '</td>' +
                    '</tr>');
             }

             
            
            {% endfor %}
        }

    </script>
    
    </div>

    <form action="/result_page" method="POST" enctype="multipart/form-data">
        <table = border="1">

        <tr><td><option value="target">目的変数</option></td></tr>
        <tr>
        {% for name in columns_name %}
                    <td>{{name}}
                    <input type="radio" id="r1" name="target" value={{name}}></td>
                    <script>
                        var count = {{ loop.index }};
                        if(count % 5 == 0){
                            document.write('</tr><tr>');
                        }
                    </script>
                    
        {% endfor %}
        </tr>
        <!-- <p>欠損値の置き換え方法を選んでください</p> -->

            <script> //tojasonとnumpyの相性が悪い！
                
                displayRadio();
            </script>


        <tr><td><option value="drop">削除する変数</option></td></tr>
        <tr>
        {% for name in columns_name %}
                    {% set value = name + '_drop' %}
                    <td>{{name}} 
                    <input type="checkbox" id="r1" name={{value}} value="drop"></td>
                    <script>
                        var count = {{ loop.index }};
                        if(count % 5 == 0){
                            document.write('</tr><tr>');
                        }
                    </script>
                    
        {% endfor %}
        </tr>
        <br>
        <select name="model" id = "model" onchange="radioSelect(this);">
            <option value="">モデルを選択してください</option>
            <option value="RandomForestClassifier" name = "model">RandomForestClassifier</option>
            <option value="RandomForestRegressor" name = "model">RandomForestRegressor</option>
            <option value="XGBoost" name = "model">XGBoost</option>
            <!-- <option value="選択肢3" name = "name">選択肢3</option> -->
        </select>
        <label>モデルパラメータ設定
            <tr class = "parameters_area" >

            </tr>
        </label>
    <input type="submit" value="送信">
        </table>
    </form>


    <script type="text/javascript" src="../static/js/model_radio_select.js"></script>
    <script type="text/javascript" src="../static/js/display_radio.js"></script>

</body>
{% endblock %}